body {
    color: #2E2E2E;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items: center;
}

.container {
    width: 100%;
}

.calculator {
    width: 727px;
    height: 686px;
    display: flex;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.container_inner {
    margin: 0 35px;
}

.calculator_content {
    width: 100%;
}

.switch_calculators {
    display: flex;
    justify-content: space-between;
}

.body_button_switch {
    width: 314px;
    height: 52px;
    border-radius: 2px;
    border: 0.8px solid #343638;
    background: #FFF;
    margin-top: 36px;
    margin-bottom: 27px;
}

.body_button_switch:hover {
    transition: 0.3s;
    border: 0.8px solid #B93021;
    background: #B93021;
    color: #FFF;
}

.button_top {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center ;
    align-items: center;
}

.calculator_text {
    background: #ECF2FF;
    width: 100%;
    
}

.calc_text_inner{
    display: flex;
    height: 39px;
    justify-content: space-between;
    align-items: center;
}

.calc_left_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.calc_reset {
    color: #393939;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}

.calc_reset:hover {
    transition: 0.3s;
    color: #B93021;
}

.calc_content_inner_subm {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    row-gap: 25px;
    column-gap: 28px;
    margin-top: 29px;
    margin-bottom: 27px;
}

.calc_content_inner {
    display: flex;
    color: #343638;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 38px;
}

.calc_box_submit {
    color: #000;
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.calc_box_submit label {
    display: block;
    width: 146px;
}

.calc_quant {
    width: 157px;
    height: 36px;
    border-radius: 2px;
    border: 0.8px solid #9D9D9D;
    background: #FFF;
    color: #A0A0A0;
    padding-left: 12px;
}


.calc_box_data {
    display: flex;
}


.calc_box_data_left {
    margin-right: 28px;
}

.calc_slide_box {
    margin-bottom: 8px;
}

.calc_slide_box_quest {
    position: relative;
    bottom: 10px;
}


input[type="range"] {
    width: 189px;
}

input[type="range"] {
    color: #B93021;
    --thumb-height: 18px;
    --track-height: 4px;
    --track-color: rgba(0, 0, 0, 0.2);
    --brightness-hover: 180%;
    --brightness-down: 80%;
    --clip-edges: 0.125em;
}


input[type="range"] {
    position: relative;
    background: #fff0;
    overflow: hidden;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--thumb-height);
}



input[type="range"]::-webkit-slider-thumb {
    --thumb-radius: calc((var(--thumb-height) * 0.5) - 1px);
    --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
    --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
    --clip-further: calc(100% + 1px);
    --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
        100vmax currentColor;

    width: var(--thumb-width, var(--thumb-height));
    background: linear-gradient(currentColor 0 0) scroll no-repeat left center /
        50% calc(var(--track-height) + 1px);
    background-color: currentColor;
    box-shadow: var(--box-fill);
    border-radius: var(--thumb-width, var(--thumb-height));

    filter: brightness(100%);
    clip-path: polygon(
        100% -1px,
        var(--clip-edges) -1px,
        0 var(--clip-top),
        -100vmax var(--clip-top),
        -100vmax var(--clip-bottom),
        0 var(--clip-bottom),
        var(--clip-edges) 100%,
        var(--clip-further) var(--clip-further)
    );

    background:#FFFFFF;
    
    border: 3px solid #B93021;
    
    
    border-radius:50%;
    
    cursor:pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center /
        100% calc(var(--track-height) + 1px);
    
}

.calc_box_data_right {
    place-content: center;
}

.calc_slide_out {
    color: #343638;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    width: 79px;
    height: 40px;
    border-radius: 1px;
    border: 0.8px solid #9D9D9D;
    background: #FFF;
    
}

.slider {
    position: relative;
    width: 200px;
    height: 10px;
}

.slider-track {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    transform: translateY(-50%);
}

.slider-line {
    stroke: #000;
    stroke-width: 2px;
}

.slider-thumb {
    fill: #000;
}

.calc_box_budget {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

input[type="range"].slide_foot {
    width: 259px;
}

#slide_budget_out {
    width: 108px;
}

.rub {
    font-family: arial;
    vertical-align: middle;
    border-bottom: 0.07em solid;
    line-height: 0.3em;
    display: inline-block;
    width: 0.5em;
    position: relative;
    right: 34px;
}